# Archivos temporales de Python
__pycache__/

# Carpetas de Jupyter Notebooks
.ipynb_checkpoints/

# Archivos de sistema (macOS/Windows)
.DS_Store
Thumbs.db

# datos crudos y outputs
data/*
!data/processed/
exports/*

# Entorno de uv
.venv/
.python-version

# Ignorar logs
*.log